@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Romanesco&display=swap');

:root {
    --main-color: #69B578;
    --main-text-color: #4F3824;
    --main-bg-color: #F1DEDE;
    --whitened-text-color: #383838;
    --whitened-bg-color: #f7f7f7;
    --alt-bg-color: #98c7a1;
    --cavity-color: #ecb07c;
    --board-bg-color: #9c6535;
    --bronze: #CD7F32;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    font-family: 'Alegreya', serif;
}

body {
    background-color: var(--alt-bg-color);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* This will work on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) var(--whitened-bg-color);
}

/* Targtes on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--whitened-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 20px;
    border: 3px solid var(--whitened-bg-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.navbar-links {
    margin: 1rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    border-radius: 2rem;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 1rem;
    display: block;
    height: 100%;
    font-size: 2rem;
}

.navbar-links li:hover {
    background-color: var(--whitened-bg-color);
    transition: 0.3s;
}

.logo {
    margin: 1rem;

}

.logo-img {
    width: 6rem;
}

.toggle-button {
    top: 5%;
    right: 10%;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--main-text-color);
    border-radius: 10px;
}

.close {
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    width: 3rem;
    height: 3rem;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 0.1rem;
    content: ' ';
    height: 2.5rem;
    width: 0.2rem;
    background-color: var(--main-text-color);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


.board {
    display: grid;
    grid-template-columns: [first-cell] 1fr repeat(6, 1fr) [last-cell] 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/jean-wimmerlin-dcasj22jmCk-unsplash.jpg");
    background-color: var(--board-bg-color);
    height: 20vw;
    width: 55vw;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    margin: auto;
}

.cavity {
    margin: 10%;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 2rem #000000;
    -webkit-box-shadow: inset 0 0 2rem #000000;
    box-shadow: inset 0 0 2rem #000000;
    border: 2px solid var(--cavity-color);
}

.c-big {
    grid-row-start: 1;
    grid-row-end: 3;
}

.c-left {
    grid-column-start: first-cell;
}

.c-right {
    grid-column-start: last-cell;
}

.seed {
    width: 2em;
    height: 2.5em;
    border-radius: 50%;
    background: var(--main-color);
    /*transform: rotate(35deg) scaleY(.4);
    -moz-transform: rotate(35deg) scaleY(.4);
    -webkit-transform: rotate(35deg) scaleY(.4);*/
}

.full-pop-up-container {
    display: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.rules-container.active,
.ldb-container.active {
    display: block;
}

.pop-up-container.active {
    -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-15 13:7:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}


.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 56, 36, 0.4);
}

.pop-up-container {
    background-color: var(--main-bg-color);
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 70%;
    border-radius: 50px;
}

.pop-up-main-title {
    overflow: hidden;
    color: var(--main-color);
    background-color: transparent;
    font-family: 'Romanesco', cursive;
    text-align: center;
    font-size: 8vmin;
}

.pop-up-wrapper {
    border: none;
    overflow-y: auto;
    margin: 0% 5%;
    width: 92%;
    padding: 2%;
    height: 75%;
}

.rules-body,
.rules-text,
.rules-title,
.rules-subtitle,
.rules-paragraph {
    background-color: var(--main-bg-color);
}

.ldb-content {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--main-text-color);
}

table td {
    font-weight: bold;
    font-size: 2rem;
}

table tr>* {
    text-align: center;
}

table tr>*:nth-child(1) {
    text-align: left;
}

table tr>*:nth-child(2) {
    border-radius: 20px;
    padding: 0.1rem 0.5rem;
    display: inline-block;
}

table *:nth-child(2)>*:nth-child(2) {
    background-color: gold;
}

table *:nth-child(3)>*:nth-child(2) {
    background-color: silver;
}

table *:nth-child(4)>*:nth-child(2) {
    background-color: var(--bronze);
}

table th {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.04rem;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        margin: 0%;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        border-radius: 0%;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .pop-up-container {
        left: 10%;
        width: 80%;
    }
}