@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Romanesco&display=swap');

:root {
    --main-color: #69B578;
    --main-text-color: #4F3824;
    --main-bg-color: #F1DEDE;
    --whitened-text-color: #383838;
    --whitened-bg-color: #f7f7f7;
    --alt-bg-color: #98c7a1;
    --cavity-color: #ecb07c;
    --board-bg-color: #9c6535;
    --nCavities: 6
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    font-family: 'Alegreya', serif;
}

body {
    background-color: var(--alt-bg-color);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
select,
option,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* This will work on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) var(--whitened-bg-color);
}

/* Targtes on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--whitened-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 20px;
    border: 3px solid var(--whitened-bg-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    height: 15vh;
}

.navbar-links {
    margin: 1rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    border-radius: 2rem;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 1rem;
    display: block;
    height: 100%;
    font-size: 2rem;
}

.navbar-links li:hover {
    background-color: var(--whitened-bg-color);
    transition: 0.3s;
}

.logo {
    margin: 1rem;

}

.logo-img {
    width: 6rem;
}

.toggle-button {
    top: 5%;
    right: 10%;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--main-text-color);
    border-radius: 10px;
}

.close {
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    width: 3rem;
    height: 3rem;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 0.1rem;
    content: ' ';
    height: 2.5rem;
    width: 0.2rem;
    background-color: var(--main-text-color);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.game-area {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas:
        "Board Board Board Board Board Board Board Configs Configs Configs"
        "Board Board Board Board Board Board Board Configs Configs Configs"
        "Messages Messages Messages Messages Messages Messages Messages Configs Configs Configs";
    overflow: auto;
    height: 85vh;

}

.board-area {
    grid-area: Board;
}

.board-area.inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 20% 5% 8%;
}

.config-area {

    grid-area: Configs;
}

.message-area {
    grid-area: Messages;
}

.board {
    margin: 5%;
    display: grid;
    grid-template-columns: [first-cell] 1fr repeat(var(--nCavities), 1fr) [last-cell] 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/jean-wimmerlin-dcasj22jmCk-unsplash.jpg");
    background-color: var(--board-bg-color);
    height: 20vw;
    width: 55vw;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.cavity {
    margin: 10%;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 2rem #000000;
    -webkit-box-shadow: inset 0 0 2rem #000000;
    box-shadow: inset 0 0 2rem #000000;
    border: 2px solid var(--cavity-color);
    position: relative;
}

.c-big {
    grid-row-start: 1;
    grid-row-end: 3;
}

.c-left {
    grid-column-start: first-cell;
}

.c-right {
    grid-column-start: last-cell;
}

.seed {
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2.5em;
    border-radius: 50%;
    background: var(--main-color);
    /*transform: rotate(35deg) scaleY(.4);
    -moz-transform: rotate(35deg) scaleY(.4);
    -webkit-transform: rotate(35deg) scaleY(.4);*/
}

.full-pop-up-container {
    display: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.rules-container.active,
.ldb-container.active,
.signin-container.active {
    display: block;
}

.pop-up-container.active {
    -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-15 13:7:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 56, 36, 0.4);
}

.pop-up-container {
    background-color: var(--main-bg-color);
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 70%;
    border-radius: 50px;
    overflow-y: auto;
    z-index: 2;
}

.pop-up-main-title {
    color: var(--main-color);
    background-color: transparent;
    font-family: 'Romanesco', cursive;
    text-align: center;
    font-size: 8vmin;
}

.pop-up-wrapper {
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0% 5%;
    width: 92%;
    padding: 2%;
    height: 75%;
}

.rules-body,
.rules-text,
.rules-title,
.rules-subtitle,
.rules-paragraph {
    background-color: var(--main-bg-color);
}

.ldb-content {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--main-text-color);
}

table td {
    font-weight: bold;
    font-size: 2rem;
}

table tr>* {
    text-align: center;
}

table tr>*:nth-child(1) {
    text-align: left;
    width: 50%;
}

table tr>*:nth-child(3) {
    border-radius: 20px;
    padding: 0.1rem 0.5rem;
    width: 20%;
}

table th {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.04rem;
}

.signin {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.signin-filler {
    width: 5px;
    background-color: var(--main-text-color);
    margin: 10% 0%;
}

.signin-component,
.signin-input,
.signin-uname-pwd {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.signin-input {
    align-items: flex-start;
}

.signin-component>h2,
.signin-component>div,
.signin-input>div,
.signin-input>button {
    flex: 1 0 auto;
    height: auto;
}

.signin-input {
    padding: 0% 10% 10% 10%;
}

.custom-field {
    font-size: 1rem;
    position: relative;
}

.custom-field input,
.custom-field select {
    margin: 0.6rem;
    padding: 0.2rem;
    border: none;
    appearance: none;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    background: white;
    border: 2px solid white;
    transition:
        border-color 0.3s ease,
        background 0.5s ease;
}

.custom-field .placeholder {
    position: absolute;
    left: 16px;
    bottom: 50%;
    top: 14px;
    width: calc(100% - 24px);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: gray;
    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.configs-fields .placeholder {
    top: 0px;
}

.custom-field input:focus,
.custom-field input:valid,
.custom-field select:focus,
.custom-field select:valid {
    border-color: var(--main-text-color);
    transition-delay: 0.25s;
}

.custom-field input:focus+.placeholder,
.custom-field input:valid+.placeholder,
.custom-field select:focus+.placeholder,
.custom-field select:valid+.placeholder {
    top: -10px;
    font-size: 0.8rem;
    color: var(--main-text-color);
}

.configs-fields input:focus+.placeholder,
.configs-fields input:valid+.placeholder,
.configs-fields select:focus+.placeholder,
.configs-fields select:valid+.placeholder {
    top: -22px;
    font-size: 0.8rem;
    color: var(--main-text-color);
}

.signin-buttons-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.button {
    border-radius: 10px;
    border: none;
    width: 50%;
    margin: 1em 0em;
    padding: 0.5em 0em;
    transition: background-color 0.5s ease;
}

.button:hover {
    cursor: pointer;
}


.submit-button {
    background-color: var(--main-color);
    color: white;
}

.submit-button:hover {
    background-color: var(--alt-bg-color);
}

.close-button {
    background-color: rgb(143, 19, 19);
    color: white;
}

.close-button:hover {
    background-color: rgb(185, 56, 56);
}

.start-button {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 1.1em;
}

.start-button:hover {
    background-color: #f3efef;
}

.profile {
    display: none;
    flex-flow: wrap;
    font-size: 3vh;
    height: 100%;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.profile h2,
.profile div {
    width: 100%;
}

.profile-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-buttons-container>button {
    margin: 1rem;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        margin: 0%;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        border-radius: 0%;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        animation: slidein 0.5s ease forwards;
    }

    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-left: 0%;
            width: 100%;
        }
    }

    .pop-up-container {
        left: 10%;
        width: 80%;
    }
}

@media (max-width: 750px) {
    .signin {
        display: flex;
        flex-flow: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .signin-input {
        padding-bottom: 0;
    }

    .signin-filler {
        width: 80%;
        height: 2px;
        margin: 5%;
    }
}

.configs,
.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 8%;
    margin-top: 8%;
    background-color: var(--main-bg-color);
    padding: 5%;
    border-radius: 50px;
}

#in-game-summary {
    display: none;
}

.start-button-wrapper,
.end-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 8% 5% 5%;
}

.end-button-wrapper {
    width: 50%;
}

.start-button {
    padding: 2em;
    background: var(--main-bg-color);
}

.message-box {
    position: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    margin: 1% 20% 5% 8%;
    height: 8.5em;
    padding: 0.5em 1em;
    border-radius: 50px;
}

.messages {
    margin: 0.5em;
    overflow-y: auto;
    height: 6.5em;
    font-size: 1em;
}

.messages div {
    font-size: 1.5em;
    padding: 0.1em;
    margin: 0.5em;
}

.game-code-wrapper,
.ai-level-wrapper {
    display: none;
}

.error-message {
    display: block;
    color: red;
    animation: fadeout 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}